body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: grey;
    color:whitesmoke;
    text-align: center;
}

button{
    color: white;
    background-color: blue;
    padding:10px;
    border-radius: 5px;
    margin: auto;
    border-color: transparent;
}
input{
    padding:10px 4px;
    border-color:transparent;
    color:darkgray;
}
